{{ define "main" }}

<section class="py-4 py-xl-5" style="border-top-width: 0px;border-top-color: var(--bs-black);margin-bottom: -48px;margin-top: -15px;">
	<div class="container _home">
		<div class="text-center p-4 p-lg-5">
			<p class="fw-bold text-primary mb-2">don't you think</p>
			<h1 class="fw-bold mb-4 intro">Internet is getting worst over time? If you are a nostalgic web lover that's your place</h1>
		</div>
	</div>
</section>
<div class="container py-4 py-xl-5" style="border-top: 1px solid var(--bs-black);">
        <h1 class="text-center" style="font-family: Spectral, serif;font-weight: bold;padding-bottom: 9px;">Who the f*** am I?</h1>
        <p class="text-center _home" style="margin-bottom: 53px;">I do make web by making websites. Yeah I know what you are thinking of... <br><br>&nbsp;- "You do make website so you are one of those whom made the web worst over time you piece of s*** !!1!" <br><br>No I'm not, my darling! I love the good 'ol way of thinking the web. Web is fun, web is unkown identity and things like that.&nbsp;</p>
        <div class="row mb-5" style="padding-bottom: 0px;border-top: 1px solid var(--bs-black);border-bottom: 1px solid var(--bs-black);padding-top: 0px;margin-top: 37px;">
            <div class="col-md-8 col-xl-6 text-center mx-auto" style="padding-top: 10px;padding-bottom: 10px;">
                <h2 style="font-family: Spectral, serif;font-weight: bold;">Posts</h2>
                <p>Served to you by the finest A.I. around here...</p>
            </div>
        </div>
        <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3" style="padding-top: 0px;margin-top: -88px;">
            <div class="col" style="margin-top: 48px;">
                <div class="p-4"><span class="badge rounded-pill bg-primary mb-2">Article</span>
                    <h4>Lorem libero donec</h4>
                    <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                    <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                        <div>
                            <p class="fw-bold mb-0">John Smith</p>
                            <p class="text-muted mb-0">Erat netus</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="p-4"><span class="badge rounded-pill bg-primary mb-2">Article</span>
                    <h4>Lorem libero donec</h4>
                    <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                    <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                        <div>
                            <p class="fw-bold mb-0">John Smith</p>
                            <p class="text-muted mb-0">Erat netus</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="p-4"><span class="badge rounded-pill bg-primary mb-2">Article</span>
                    <h4>Lorem libero donec</h4>
                    <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                    <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                        <div>
                            <p class="fw-bold mb-0">John Smith</p>
                            <p class="text-muted mb-0">Erat netus</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{{ end }}