{{ define "main" }}

<section class="py-4 py-xl-5" style="border-top-width: 0px;border-top-color: var(--bs-black);margin-bottom: -48px;margin-top: -15px;">
        <div class="container _home">
            <div class="text-center p-4 p-lg-5">
                <p class="fw-bold text-primary mb-2">don't you think</p>
                <h1 class="fw-bold mb-4 intro">Internet is getting worst over time? If you are a nostalgic web lover that's your place</h1>
            </div>
        </div>
    </section>
    <div class="container py-4 py-xl-5" style="border-top: 1px solid var(--bs-black);border-bottom: 1px solid var(--bs-black);">
        <h1 class="text-center" style="font-family: Spectral, serif;font-weight: bold;padding-bottom: 9px;"><img src="/img/experimental-doodle-character-looking-through-blinds.png" width="80" height="64" style="margin-right: 20px;">Who the f*** am I?<img src="/img/experimental-handshake-with-a-new-employee.png" width="80" height="73" style="margin-left: 20px;"></h1>
        <p class="text-center _home" style="margin-bottom: 53px;">I do make web by making websites. Yeah I know what you are thinking of... <br><br>&nbsp;- "You do make website so you are one of those whom made the web worst over time you piece of s*** !!1!" <br><br>No I'm not, my darling! I love the good 'ol way of thinking the web. Web is fun, web is unkown identity and things like that.&nbsp;</p>
    </div>
    <div class="container py-4 py-xl-5" style="margin-top: -66px;">
        <div class="row mb-5" style="margin-top: 40px;">
            <div class="col-md-8 col-xl-6 text-center mx-auto" style="margin-bottom: -34px;">
                <h2>Posts</h2>
                <p>Served to you by the finest A.I. out there...</p>
            </div>
        </div>
        <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
            <div class="col">
                <div class="p-4 article"><span class="badge rounded-pill bg-primary mb-2">Article</span>
                    <h4>Lorem libero donec</h4>
                    <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                    <div class="d-flex"></div><button class="btn btn-light" type="button">Read more...</button>
                </div>
            </div>
            <div class="col">
                <div class="p-4 article"><span class="badge rounded-pill bg-primary mb-2">Article</span>
                    <h4>Lorem libero donec</h4>
                    <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                    <div class="d-flex"></div><button class="btn btn-light" type="button">Read more...</button>
                </div>
            </div>
            <div class="col">
                <div class="p-4 article"><span class="badge rounded-pill bg-primary mb-2">Article</span>
                    <h4>Lorem libero donec</h4>
                    <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                    <div class="d-flex"></div><button class="btn btn-light" type="button">Read more...</button>
                </div>
            </div>
        </div>
    </div>

{{ end }}